### LIBRERÍAS

In [3]:
# Procesamiento
import numpy as np
import pandas as pd
import os

# API y web scraping
from time import sleep

import requests
from tqdm import tqdm

from selenium import webdriver
from selenium.webdriver.common.by import By

### WEB SCRAPING IDAE

Fuente: https://coches.idae.es/base-datos

In [3]:
def inicio_scraping(endpoint):
    ### Driver
    chrome_driver = "chromedriver.exe"

    ### SE ABRE ENLACE
    browser = webdriver.Chrome()

    browser.get(endpoint)

    browser.maximize_window()
    sleep(1)

    ### SE LE DA AL BOTON DE BUSCAR
    browser.find_element(by = By.CSS_SELECTOR, value = "body > div.container-fluid > div.row > div.col-lg-9.col-md-12 > form > div.col.col-12.text-center > button").click()
    sleep(1)

    return browser

**Vehículos elegibles Programa MOVES III**

In [15]:
endpoint = "https://coches.idae.es/base-datos/vehiculos-elegibles-programa-MOVES-III"

In [17]:
browser = inicio_scraping(endpoint)

# REALIZAR SCROLL HASTA EL FINAL DE LA PÁGINA
browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
sleep(1)

### SE LE DA AL BOTON DE EXTRAER EN CSV/EXCELL
browser.find_element(by = By.CSS_SELECTOR, value = "#nedc > p > button.btn.btn-primary.btnExportarCSV.mr-3").click()
sleep(5)

# CERRAR EL NAVEGADOR
browser.quit()

**WPLT**

In [4]:
endpoint = "https://coches.idae.es/base-datos/marca-y-modelo"

In [ ]:
browser = inicio_scraping(endpoint)

### SE CARGA EL DESPLEGABLE
browser.find_element(by = By.CSS_SELECTOR, value = "#datos_wltp_length > label > select").click()
sleep(1)

### SELECCIONAR 100
browser.find_element(by = By.CSS_SELECTOR, value = "#datos_wltp_length > label > select > option:nth-child(4)").click()
sleep(1)

### DESCARGAR Y PASAR DE PAGINA
for pagina in range(1,169):
    # SCROLL ARRIBA DEL TODO
    browser.execute_script("window.scrollTo(0, 0);")
    sleep(1)
    # PULSAR DESCARGAR CSV
    browser.find_element(by = By.CSS_SELECTOR, value = "#datos_wltp_wrapper > div.dt-buttons > button.dt-button.buttons-csv.buttons-html5.btn.btn-primary.btn-sm.mb-2").click()
    sleep(1)
    # REALIZAR SCROLL HASTA EL FINAL DE LA PÁGINA
    browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    sleep(1)
    # AVANZAR DE PÁGINA
    browser.find_element(by = By.CSS_SELECTOR, value = "#datos_wltp_next > a").click()
    sleep(2)

# Continúa con lo siguiente

**Consumo eléctrico**

In [ ]:
# SCROLL ARRIBA DEL TODO
browser.execute_script("window.scrollTo(0, 0);")

# SELECCION DE CONSUMO ELÉCTRICO
browser.find_element(by = By.CSS_SELECTOR, value = "#elec-tab").click()
sleep(1)

# SCROLL UN POCO HACIA ABAJO
browser.execute_script("window.scrollTo(0, window.scrollY + 100);")  # Ajusta el valor (100 en este caso) según sea necesario
sleep(1)

### SE CARGA EL DESPLEGABLE
browser.find_element(by = By.CSS_SELECTOR, value = "#datos_elec_length > label > select").click()
sleep(1)

### SELECCIONAR 100
browser.find_element(by = By.CSS_SELECTOR, value = "#datos_elec_length > label > select > option:nth-child(4)").click()
sleep(1)

### DESCARGAR Y PASAR DE PAGINA
for pagina in range(1,169):

    # SCROLL ARRIBA DEL TODO
    browser.execute_script("window.scrollTo(0, 0);")
    sleep(1)
    # PULSAR DESCARGAR CSV
    browser.find_element(by = By.CSS_SELECTOR, value = "#datos_elec_wrapper > div.dt-buttons > button.dt-button.buttons-csv.buttons-html5.btn.btn-primary.btn-sm.mb-2").click()
    sleep(1)
    # REALIZAR SCROLL HASTA EL FINAL DE LA PÁGINA
    browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    sleep(1)
    # AVANZAR DE PÁGINA
    browser.find_element(by = By.CSS_SELECTOR, value = "#datos_elec_next > a").click()
    sleep(2)

# CERRAR EL NAVEGADOR
browser.quit()

### API OPEN CHARGE MAP

**Extracción de códigos postales de España**

Fuente: https://github.com/inigoflores/ds-codigos-postales-ine-es/blob/master/data/codigos_postales_municipios.csv

In [24]:
df = pd.read_csv('./Data/codigos_postales_municipios.csv', dtype={'codigo_postal': str})

In [25]:
df

      codigo_postal  municipio_id        municipio_nombre
0             00043         43110  Pobla de Massaluca, La
1             00085         49064                  Fariza
2             00633         26005       Albelda de Iregua
3             01001          1059         Vitoria-Gasteiz
4             01002          1059         Vitoria-Gasteiz
...             ...           ...                     ...
14603         52002         52001                 Melilla
14604         52003         52001                 Melilla
14605         52004         52001                 Melilla
14606         52005         52001                 Melilla
14607         52006         52001                 Melilla

[14608 rows x 3 columns]

**Repartición de peticiones**

In [28]:
ana = df["codigo_postal"][:3653].to_list()
kevin = df["codigo_postal"][3653:7305].to_list()
cristian = df["codigo_postal"][7305:10957].to_list()
daniel = df["codigo_postal"][10957:14609].to_list()

In [31]:
diccionario = {}

### Bucle que controla el tiempo de ejecución a la vez que entra en el endpoint del código postal correspondiente
for codigo in tqdm(ana):
    # Construcción del endpoint
    url = "https://api.openchargemap.io/v3/poi/"
    parametros = {
                    "output": "json",
                    "countrycode": "ES",
                    "maxresults": 500,
                    "postalcode": codigo,
                    "key": ""  # Tu clave aquí
                }
    
    try:
        # Petición
        respuesta = requests.get(url, params=parametros)
        respuesta.raise_for_status()  # Lanza una excepción si la solicitud falla

        # Extrayendo toda la información
        datos = respuesta.json()
        diccionario[codigo] = datos

    except requests.exceptions.RequestException as e:
        print("Error al hacer la solicitud:", e)

# Creación de un df para guardar la información extraida y no perderla
df = pd.DataFrame(diccionario)

df.to_csv("./Data/ana.csv")

100%|██████████| 3653/3653 [1:28:10<00:00,  1.45s/it]

In [32]:
df.shape

(500, 2750)

**Concatenación por filas de csv scrapeados**

In [109]:
def concatenar(ruta_carpeta):
    # Ruta de la carpeta que contiene los archivos CSV
    carpeta = ruta_carpeta

    # Obtener la lista de archivos en la carpeta
    archivos_csv = [archivo for archivo in os.listdir(carpeta) if archivo.endswith('.csv')]

    # Leer y concatenar los archivos CSV
    datos_concatenados = pd.concat([pd.read_csv(os.path.join(carpeta, archivo)) for archivo in archivos_csv], ignore_index=True)

    return datos_concatenados

In [110]:
wplt = concatenar("../data/wplt/")

In [150]:
wplt.head()

,Modelo,Clasificación Energética,Consumo Mínimo,Consumo Máximo,Emisiones Mínimo,Emisiones Máximo
0,ALKE ATX 340 EDH Litio 20kwh,NaN,NaN,NaN,NaN,NaN
1,ALKE ATX 340 EDH plomo acido,NaN,NaN,NaN,NaN,NaN
2,ALKE ATX 340 EH Litio 10 kwh,NaN,NaN,NaN,NaN,NaN
3,ALKE ATX 340 EH Litio 20kwh,NaN,NaN,NaN,NaN,NaN
4,ALKE ATX 340 EH plomo acido,NaN,NaN,NaN,NaN,NaN

In [112]:
electricos = concatenar("../data/electricos/")

In [149]:
electricos.head()

,Modelo,Clasificación Energética,Motorización,Categoría,MTMA (Kg),Consumo Eléctrico (kWh/100 km),Potencia eléctrica (kW),Autonomía eléctrica (km),Capacidad de la batería (kWh)
0,Citroën Nuevo C4 BlueHDi 130 S&S EAT8,NaN,Gasóleo,M1,1795,NaN,NaN,NaN,NaN
1,Citroën Nuevo C4 PureTech 100 S&S 6v,NaN,Gasolina,M1,1690,NaN,NaN,NaN,NaN
2,Citroën Nuevo C4 PureTech 130 S&S 6v,NaN,Gasolina,M2,1690,NaN,NaN,NaN,NaN
3,Citroën Nuevo C4 PureTech 130 S&S EAT8,NaN,Gasolina,M1,1755,NaN,NaN,NaN,NaN
4,Citroën Nuevo C4 PureTech 155 EAT8 SHINE,NaN,Gasolina,M1,1760,NaN,NaN,NaN,NaN

In [114]:
wplt.duplicated().sum()

270

In [115]:
electricos.duplicated().sum()

346

In [116]:
# Borrando duplicados
wplt = wplt.drop_duplicates()
electricos = electricos.drop_duplicates()

In [117]:
electricos.shape

(16550, 9)

In [118]:
wplt.shape

(16626, 6)

**Merge por Modelo para unificar dfs**

In [119]:
# Realizar el merge por la columna 'Modelo'
df_combinado = pd.merge(wplt, electricos, on=['Modelo', 'Clasificación Energética'], how='outer') 
# El parámetro how='outer' indica que se realizará un "outer join", incluyendo todas las filas de ambos dataframes y rellenando con valores NaN donde no hay coincidencias.

In [120]:
df_combinado.duplicated().sum()

0

In [121]:
df_combinado.shape

(17105, 13)

**Leer un csv con un encoding raro**

In [122]:
# Leyendo el csv de solo coches electricos del apartado "vehiculos elegibles"
archivo_csv = '../data/Vehículos_elegibles_Programa_MOVES_III.csv'

# Intenta diferentes codificaciones
try:
    df_elegibles = pd.read_csv(archivo_csv, encoding='utf-8', delimiter=';')
except UnicodeDecodeError:
    # Si falla con utf-8, intenta con otra codificación
    df_elegibles = pd.read_csv(archivo_csv, encoding='latin-1', delimiter=';')

In [123]:
df_elegibles.shape

(3073, 9)

In [148]:
df_elegibles.head()

,Modelo,Motorización,Categoría,Nº de Plazas,MTMA (Kg),Potencia eléctrica (kW),Consumo eléctrico (kWh/100km),Capacidad de la batería (kWh),Autonomía eléctrica (km)
0,Abarth Abarth 500 BEV Nuevo Abarth 500e Scorpi...,Eléctricos puros,M1,4,1410,113.0,18.1,42.0,253
1,Abarth Abarth 500 BEV Nuevo Abarth Cabrio 500e...,Eléctricos puros,M1,4,1435,113.0,18.8,42.0,242
2,Addax MT15n 55 km/h Caja flatbed,Eléctricos puros,N1,2,1910,12.5,11.4,14.4,114
3,Addax MT15n 55 km/h Cargo,Eléctricos puros,N1,2,1910,12.5,11.4,14.4,114
4,Addax MT15n 55 km/h Chasis,Eléctricos puros,N1,2,1910,12.5,11.4,14.4,114

In [141]:
# Renombrar la columna 'MTMA' a 'MTMA (Kg)'
df_elegibles.rename(columns={'MTMA': 'MTMA (Kg)'}, inplace=True)

**Concat final que unifica todo el escrapeo**

In [143]:
# Concatenar por filas
df_concatenado = pd.concat([df_combinado, df_elegibles], ignore_index=True, sort=False)

In [144]:
df_concatenado.duplicated().sum()

0

In [145]:
df_concatenado.columns

Index(['Modelo', 'Clasificación Energética', 'Consumo Mínimo',
       'Consumo Máximo', 'Emisiones Mínimo', 'Emisiones Máximo',
       'Motorización', 'Categoría', 'MTMA (Kg)',
       'Consumo Eléctrico (kWh/100 km)', 'Potencia eléctrica (kW)',
       'Autonomía eléctrica (km)', 'Capacidad de la batería (kWh)',
       'Nº de Plazas', 'Consumo eléctrico (kWh/100km)'],
      dtype='object')

In [147]:
df_concatenado.head()

,Modelo,Clasificación Energética,Consumo Mínimo,Consumo Máximo,Emisiones Mínimo,Emisiones Máximo,Motorización,Categoría,MTMA (Kg),Consumo Eléctrico (kWh/100 km),Potencia eléctrica (kW),Autonomía eléctrica (km),Capacidad de la batería (kWh),Nº de Plazas,Consumo eléctrico (kWh/100km)
0,ALKE ATX 340 EDH Litio 20kwh,NaN,NaN,NaN,NaN,NaN,Eléctricos puros,N1,2510.0,9.5,14.0,150.0,20.0,NaN,NaN
1,ALKE ATX 340 EDH plomo acido,NaN,NaN,NaN,NaN,NaN,Eléctricos puros,N1,2510.0,13.0,14.0,90.0,14.4,NaN,NaN
2,ALKE ATX 340 EH Litio 10 kwh,NaN,NaN,NaN,NaN,NaN,Eléctricos puros,N1,2510.0,9.5,14.0,80.0,10.0,NaN,NaN
3,ALKE ATX 340 EH Litio 20kwh,NaN,NaN,NaN,NaN,NaN,Eléctricos puros,N1,2510.0,9.5,14.0,150.0,20.0,NaN,NaN
4,ALKE ATX 340 EH plomo acido,NaN,NaN,NaN,NaN,NaN,Eléctricos puros,N1,2510.0,13.0,14.0,90.0,14.4,NaN,NaN

In [151]:
df_concatenado.shape

(20178, 15)

In [154]:
df_concatenado.to_csv("../data/df_coches_escrapeo.csv", index=False)